@media screen and (max-width: 1300px) {
  .test_text {
    width: 95%;
  }
  .testi {
    width: 40%;
  }

  .t_next {
    right: -4%;
  }

  .browseAll {
    padding: 100px;
  }

  .test_text .testimonial .testi .testim .test_pic {
    width: 150px;
    height: 100%;
    overflow: hidden;
    padding-top: 30px;
  }

  .test_text .testimonial .testi .testim .test_pic img {
    width: 150px;
    height: 150px;
    object-fit: contain;
  }

  .test_text .testimonial .testi .testim {
    width: 470px;
  }

  .t_next {
    right: 4%;
  }
}

@media screen and (max-width: 1235px) {
  .ser_text {
    width: 820px;
  }

  .porto_wrap {
    width: 820px;
  }
  .porto_wrap h4,
  .porto_wrap h5 {
    padding-right: 20px;
  }
  .p_prev {
    left: 20px;
  }

  .p_next {
    right: 10px;
  }

  .t_next {
    right: 2%;
  }
}

@media screen and (max-width: 1170px) {
  .t_next {
    right: -1%;
  }

  .test_text .testimonial .testi .testim .testi_text p {
    color: #444;
    font-size: 14px;
    font-weight: 300;
    font-family: "Open Sans", sans-serif;
    padding-bottom: 30px;
    width: 335px;
  }
}

@media screen and (max-width: 1130px) {
  .t_next {
    right: -2%;
  }
}

@media screen and (max-width: 1100px) {
  .t_next {
    right: -4%;
  }
}

@media screen and (max-width: 1070px) {
  .t_next {
    right: -5%;
  }
}

@media screen and (max-width: 1030px) {
  .container {
    width: 100%;
    padding: 0 20px;
  }

  .nav_wrap .menu ul {
    column-gap: 5px;
  }

  .text_wrapper {
    width: 200px;
  }

  .text_wrapper h2 {
    font-size: 25px;
  }

  .text_wrapper h3 {
    font-size: 40px;
  }

  .text_wrapper h4 {
    font-size: 16px;
  }

  .pic {
    width: 300px;
  }

  p {
    width: 343px;
  }

  .about_content {
    padding-top: 50px;
    padding-bottom: 30px;
    column-gap: 12px;
  }

  .info {
    width: 400px;
  }

  .skillz_pic {
    width: 400px;
  }

  .skillz_pic img {
    object-fit: contain;
  }
  .info_skill {
    width: 400px;
  }
  .progress-section {
    width: 400px;
    padding-left: 30px;
    text-align: right;
  }

  .t_next {
    right: -6%;
  }

  .test_text .testimonial .testi .testim .testi_text p {
    font-size: 12px;
    padding-bottom: 20px;
    width: 270px;
  }
}

@media screen and (max-width: 1000px) {
  .test_text .testimonial .testi .testim .testi_text {
    padding-top: 30px;
    padding-left: 5px;
  }

  .test_text .testimonial .testi .testim .test_pic {
    width: 150px;
  }
}

@media screen and (max-width: 960px) {
  .test_text .testimonial .testi .testim .test_pic {
    padding-top: 5px;
  }
  .test_text .testimonial .testi .testim .testi_text p {
    font-size: 12px;
    padding-bottom: 3px;
    width: 220px;
  }

  .test_text .testimonial .testi .testim .testi_text {
    padding-top: 5px;
    padding-left: 5px;
  }
}

@media screen and (max-width: 900px) {
  .ser_text {
    width: 320px;
  }

  .ser_text .slider .slide .slide1 {
    width: 320px !important;
  }
  .ser_text .slider .slide .slide1 .slide_i {
    width: 70px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 60px;
    transition: all linear 0.3s;
  }

  #serv
    > div
    > div
    > div
    > div
    > div
    > div.slide.slick-slide.slick-current.slick-active {
    width: 320px !important;
  }

  .porto_wrap h4,
  .porto_wrap h5 {
    padding-right: 0;
  }
  .p_prev {
    left: 20px;
  }

  .p_next {
    right: 10px;
  }

  #porto {
    width: 100%;
  }
  .porto_wrap {
    width: 100%;
  }
  .profiler {
    width: 400px;
    margin: 0 auto;
  }

  .testimonial {
    width: 100%;
  }
  .test_text .testimonial .testi .testim {
    margin: 0 auto;
  }
}

@media screen and (max-width: 805px) {
  .nav_wrap {
    justify-content: center;
  }

  .nav_wrap .logo {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .nav_wrap .menu ul {
    font-size: 10px;
    text-align: center;
  }

  .nav_wrap .menu ul li a {
    padding: 10px 4px;
  }

  .pic {
    display: none;
  }

  .text_wrapper {
    width: 100%;
    text-align: center;
  }

  .text_wrapper h2 {
    font-size: 50px;
  }

  .text_wrapper h3 {
    font-size: 80px;
  }

  .text_wrapper h4 {
    font-size: 32px;
  }

  p {
    width: 500px;
    margin: 0 auto;
  }

  .about_pic {
    display: none;
  }

  .about_content {
    text-align: center;
  }

  .skillz_pic {
    display: none;
  }

  .info {
    text-align: center;
    width: 100%;
  }

  .info_text {
    text-align: center;
  }

  .info_skill {
    width: 300px;
    margin: 0 auto;
    padding: 10px;
  }
  .skill_p {
    width: 280px;
  }
  .progress-section {
    width: 370px;
    padding-left: 0;
    text-align: right;
  }

  .profiler {
    margin-bottom: 60px;
    padding-left: 26px;
  }
}

@media screen and (max-width: 730px) {
  .t_prev {
    left: 8%;
  }
}

@media screen and (max-width: 700px) {
  .t_prev {
    left: 9%;
  }
}

@media screen and (max-width: 670px) {
  .t_prev {
    left: 9.5%;
  }
}

@media screen and (max-width: 600px) {
  .test_text .testimonial .testi .testim {
    width: 320px;
    line-height: 1px;
    display: block;
    height: 240px;
  }

  .test_text .testimonial .testi .testim .test_pic {
    width: 100px;
    height: 100px;
    margin: 0 auto;
  }

  .test_text .testimonial .testi .testim .testi_text {
    text-align: center;
    padding: 5px;
  }

  .test_text .testimonial .testi .testim .testi_text h4 {
    font-size: 14px;
    padding-bottom: 10px;
  }

  .test_text .testimonial .testi .testim .testi_text h6 {
    font-size: 12px;
  }

  .test_text .testimonial .testi .testim .testi_text p {
    font-size: 12px;
    width: 300px;
  }
}

@media screen and (max-width: 550px) {
  .t_prev {
    left: 12.5%;
  }
}

@media screen and (max-width: 500px) {
  .header_item {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }

  .header_item h2 {
    font-size: 10px;
  }

  .nav_wrap .menu ul {
    flex-wrap: wrap;
    justify-content: stretch;
  }

  p {
    width: 100%;
  }

  .text_wrapper h3 {
    font-size: 60px;
  }

  .about_wrap {
    width: 100%;
  }

  .about_wrap a {
    margin: 10px 0;
  }

  .info_skill {
    width: 100%;
  }

  .skill_p {
    width: 180px;
  }
  .progress-section {
    width: 320px;
    padding-left: 0;
    text-align: right;
  }

  .profiler {
    padding-left: 49px;
  }

  .profiler .profile .img {
    width: 320px;
  }

  .profiler .profile .img img {
    width: 320px;
  }

  .profiler .profile .img .after {
    width: 320px;
    object-fit: contain;
  }

  .p_prev {
    left: 6%;
  }
  .p_next {
    right: -6%;
  }

  .t_prev {
    left: 14.5%;
  }
}

@media screen and (max-width: 492px) {
  .p_next {
    right: -0.5%;
  }

  .t_prev {
    left: 5.5%;
  }

  .t_next {
    left: 95%;
  }

  .test_text .testimonial{
    margin-left: 0;
}}

@media screen and (max-width: 450px) {
  .p_next {
    right: -8%;
  }


}

@media screen and (max-width: 440px) {
  .p_next {
    right: -6%;
  }
  .p_prev {
    left: 10%;
  }

  .profiler {
    padding-left: 3rem;
  }

  .t_prev {
    left: 2.5%;
  }

  .t_next {
    left: 97%;
  }
}

@media screen and (max-width: 420px) {
  .profiler {
    padding-left: 2rem;
  }

  .t_prev {
    left: .5%;
    top: 200px;
  }

  .t_next {
    left: 99%;
    top: 200px;
  }
}

@media screen and (max-width: 396px) {
  .profiler {
    padding-left: 1rem;
  }
  .p_prev {
    left: 8%;
  }
}

@media screen and (max-width: 385px) {
  .profiler {
    padding-left: 1rem;
  }
  .p_prev {
    left: 12%;
  }

  .p_next {
    right: -8%;
  }
}

@media screen and (max-width: 370px) {
  .profiler {
    padding-left: 0;
  }

  .p_prev {
    left: 7%;
  }
}