* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: unset;
}
.container {
  width: 95%;
  margin: 0 auto;
}

ul,
li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* header */

#header {
  background-color: #0f2f44;
}

.header_item {
  padding: 21px 0 17px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_item h2 {
  font-size: 16px;
  font-weight: 500;
  color: #fefefe;
  font-family: "Ubuntu", sans-serif;
}

/* nav */
.nav_wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #fff;
}

.nav_wrap .logo {
  padding-top: 31px;
  padding-bottom: 31px;
}

.nav_wrap .menu ul {
  display: flex;
  column-gap: 15px;
  align-items: center;
}

.nav_wrap .menu ul li a {
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 700;
  color: #222;
  font-family: "Ubuntu", sans-serif;
  padding: 40px 8px 40px 8px;
  display: inline-block;
}

.nav_wrap .menu ul li :hover {
  color: #ffc712;
  background-color: rgba(255, 200, 18, 0.219);
}

/* banner */
#banner {
  background-color: #e0eeff;
  overflow: hidden;
}

.banner_wrapper {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  column-gap: 20px;
  justify-content: space-be;
}

@media screen and (min-width: 1100px) {
  .banner_wrapper {
    width: 1200px;
    margin: 0 auto;
  }
}

.text_wrapper {
  width: 45%;
}

.pic {
  width: 400px;
  position: absolute;
  left: 40%;
  top: 61px;
  object-fit: contain;
}
.text_wrapper h2 {
  font-family: "Ubuntu", sans-serif;
  font-size: 50px;
  color: #0f2f44;
  font-weight: 300;
  padding-top: 140px;
}

.text_wrapper h3 {
  font-family: "Abril Fatface", cursive;
  font-size: 80px;
  color: #0f2f44;
  font-weight: 300;
  text-transform: uppercase;
}

.text_wrapper h4 {
  color: #8484bf;
  font-size: 32px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  letter-spacing: 13px;
  text-transform: capitalize;
  margin-bottom: 30px;
}

p {
  width: 400px;
  line-height: 25px;
  font-size: 14px;
  color: #444;
  font-weight: 300;
  font-family: "Open Sans", sans-serif;
}

.explore {
  margin-top: 30px;
  padding: 14px 14px;
  border: 1px solid #8484bf;
  background-color: #8484bf;
  color: #fff;
  display: inline-block;
  border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  margin-bottom: 90px;
}

.play {
  margin-left: 4px;
  padding: 14px;
  border-radius: 50%;
  border: #fff;
  color: #8484bf;
  cursor: pointer;
  margin-bottom: 90px;
}

/* about us */

.about_content {
  padding-top: 100px;
  padding-bottom: 60px;
  display: flex;
  column-gap: 30px;
  justify-content: center;
}
.about_wrap {
  width: 570px;
}
.about_wrap h2 {
  color: #0f2f44;
  font-size: 14px;
  font-weight: 300;
  font-family: "Ubuntu", sans-serif;
}

.about_wrap h3 {
  color: #0f2f44;
  font-size: 32px;
  font-weight: 700;
  font-family: "Abril Fatface", cursive;
  padding-top: 10px;
}

.about_wrap .first {
  color: #0f2f44;
  font-size: 16px;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  line-height: 20px;
  padding-top: 30px;
}

.about_wrap .second {
  color: #0f2f44;
  font-size: 16px;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  line-height: 30px;
  padding-top: 30px;
  padding-left: 30px;
}

.about_button {
  font-family: "Ubuntu", sans-serif;
  font-size: 20px;
  font-weight: 370;
  margin-top: 30px;
  padding: 14px 19px;
  border: 1px solid #ffc712;
  background-color: #ffc712;
  color: #0f2f44;
  display: inline-block;
  border-radius: 4%;
  box-shadow: 10px 10px 27px 0px rgba(255, 199, 18, 0.39);
  -webkit-box-shadow: 10px 10px 27px 0px rgba(255, 199, 18, 0.39);
  -moz-box-shadow: 10px 10px 27px 0px rgba(255, 199, 18, 0.39);
  margin-right: 20px;
  border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
}

.about_button2 {
  font-family: "Ubuntu", sans-serif;
  font-size: 20px;
  font-weight: 370;
  margin-top: 30px;
  padding: 14px 19px;
  border: 1px solid #fff;
  background-color: #fff;
  color: #0f2f44;
  display: inline-block;
  border-radius: 4%;
  box-shadow: 10px 10px 27px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 27px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 27px 0px rgba(0, 0, 0, 0.75);
  border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
}

.about_pic {
  overflow: hidden;
}

.about_pic img {
  width: 570px;
  height: 518px;
  object-fit: contain;
}

/* skillz */

.skillz_wrap {
  display: flex;
  padding-top: 100px;
  padding-bottom: 100px;
  margin: 0 auto;
  justify-content: center;
}

.skillz_pic {
  width: 600px;
  position: relative;
  overflow: hidden;
}

.skillz_pic img {
  object-fit: cover;
  position: absolute;
  left: -133px;
}

.info {
  width: 570px;
}

.info_text {
  text-align: right;
}

.info_text h3 {
  font-size: 14px;
  color: #0f2f44;
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
}

.info_text h4 {
  font-size: 32px;
  color: #0f2f44;
  font-family: "Abril Fatface", cursive;
  font-weight: 400;
  text-transform: capitalize;
  margin-bottom: 23px;
}

.info_text p {
  font-size: 16px;
  color: #0f2f44;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

.info_skill {
  width: 500px;
  display: flex;
}

.progress-section {
  width: 500px;

  padding-left: 50px;

  text-align: right;
}
.task-progress {
  margin: 37px 0;
}

.task-progress p {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #0f2f44;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-size: 14px;
}

span {
  color: #0f2f44;
}

.progress {
  width: 100%;
  border: none;
  border-radius: 10px;
  height: 10px;
}

.progress::-webkit-progress-bar {
  background-color: #ddd;
}

.progress::-webkit-progress-bar,
.progress::-webkit-progress-value {
  border-radius: 10px;
}

.progress::-moz-progress-bar {
  border-radius: 10px;
}

.progress1::-webkit-progress-value {
  background: #2a4896;
}

.progress2::-webkit-progress-value {
  background: #5d3b15;
}

.progress3::-webkit-progress-value {
  background: #344a1f;
}

.progress4::-webkit-progress-value {
  background: #392960;
}

.skill_i {
  padding-left: 10px;
  padding-top: 20px;
  width: 70px;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.skill_i .i {
  height: 70px;
  width: 70px;
  border-radius: 100%;
  background-color: fff;
  text-align: center;

  box-shadow: 10px 10px 76px -3px rgba(0, 0, 0, 0.49);
  -webkit-box-shadow: 10px 10px 76px -3px rgba(0, 0, 0, 0.49);
  -moz-box-shadow: 10px 10px 76px -3px rgba(0, 0, 0, 0.49);
}

.skill_i .i img {
  padding-top: 15px;
}

/* our services */

#serv {
  width: 100%;
  background-color: #f5f5f5;
}

.sp {
  width: 100%;
  padding: 0;
}

.ser_text {
  width: 1230px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  padding: 30px 0;
}

.ser_text h4 {
  font-size: 14px;
  color: #0f2f44;
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
}

.ser_text h5 {
  font-size: 32px;
  color: #0f2f44;
  font-family: "Abril Fatface", cursive;
  font-weight: 400;
  text-transform: capitalize;
  margin-bottom: 23px;
}

.ser_text .slider .slide {
  border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
}

.ser_text .slider .slide .slide1 {
  width: 400px;
  height: 184px;
  background-color: #e9e9e9;
  display: flex;
  column-gap: 20px;
  justify-content: center;
  transition: all linear 0.3s;
}

.ser_text .slider .slide .slide1:hover {
  background-color: #0f2f44;
}

.ser_text .slider .slide:hover .slide1 {
  display: block;
}

.ser_text .slider .slide:hover .slide1 .slide_text p {
  visibility: hidden;
}

.ser_text .slider .slide .slide1 .slide_i {
  width: 100px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 60px;
  transition: all linear 0.3s;
}

.ser_text .slider .slide:hover .slide1 .slide_i {
  display: inline-block;
  padding-top: 30px;
}

.ser_text .slider .slide_text {
  text-align: left;
  padding-top: 25px;
  transition: all linear 0.3s;
}

.ser_text .slider .slide:hover .slide1 .slide_text {
  display: inline - block;
  text-align: center;
}

.ser_text .slider .slide:hover .slide1 .slide_text h4 {
  color: #fff;
  font-weight: 500;
}

.ser_text .slider .slide_text h4 {
  color: #222;
  font-size: 20px;
  font-weight: 600;
  font-family: "Ubuntu", sans-serif;
  padding-bottom: 20px;
  transition: all linear 0.3s;
}

.ser_text .slider .slide_text p {
  color: #444;
  font-size: 14px;
  font-weight: 300;
  font-family: "Open Sans", sans-serif;
  transition: all linear 0.3s;
}

.slide_btn {
  background-color: #ffc712;
  border-radius: 100%;
  height: 50px;
  width: 50px;
  position: absolute;
  top: 280px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}

.slide_text .para {
  width: 240px;
}

/* our portofolio */
#porto{
  width: 100%;
}

.porto_wrap {
  text-align: center;
  padding-top: 98px;
  width: 1245px;
  position: relative;
  margin: 0 auto;
  padding-right: 40px;
}

.porto_wrap h4 {
  font-size: 22px;
  color: #0f2f44;
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  
}

.porto_wrap h5 {
  font-size: 32px;
  color: #0f2f44;
  font-family: "Abril Fatface", cursive;
  font-weight: 400;
  text-transform: capitalize;
  margin-bottom: 57px;
  
}
.profiler {
  margin-bottom: 60px;
  padding-left: 20px;
  padding-left: 56px;
}


.profiler .profile .img {
  position: relative;
  width: 350px;
  height: 423px;
  text-align: center;

  border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
}

.profiler .profile .img img {
  padding-top: 1px;
  width: 350px;
  height: 420px;
  object-fit: cover;
  transition: all linear 0.3s;

  border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
}

.profiler .profile .img .after {
  position: absolute;
  text-align: center;
  padding-top: 30px;
  width: 350px;
  height: 76px;
  left: 0;
  top: 344px;
  font-weight: 500;
  font-size: 20px;
  color: #0f2f44;
  font-family: "Ubuntu", sans-serif;
  visibility: hidden;
  transition: all linear 0.3s;
}

.profiler .profile .img img:hover {
  height: 344px;
  object-fit: cover;
}

.profiler .profile .img:hover .after {
  visibility: visible;
  box-shadow: 0px 0px 11px -2px rgba(0, 0, 0, 0.61);
  -webkit-box-shadow: 0px 0px 11px -2px rgba(0, 0, 0, 0.61);
  -moz-box-shadow: 0px 0px 11px -2px rgba(0, 0, 0, 0.61);
}

.profiler .profile .img:hover {
  box-shadow: 0px 0px 11px -2px rgba(0, 0, 0, 0.61);
  -webkit-box-shadow: 0px 0px 11px -2px rgba(0, 0, 0, 0.61);
  -moz-box-shadow: 0px 0px 11px -2px rgba(0, 0, 0, 0.61);
}

.browseAll{
  text-align: center;
}
.browse {
  width: 135px;
  height: 47px;
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 16px 0;
  padding: 16px 0;
  
  border: 1px solid #ffc712;
  background-color: #ffc712;
  color: #0f2f44;
  display: inline-block;

  border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
}

.p_prev {
  background-color: #ffc712;
  border-radius: 100%;
  height: 50px;
  width: 50px;
  position: absolute;
  top: 400px;
  left: 35%;
  transform: translateX(-50%);
  cursor: pointer;
  transition: all linear 0.3s;
}
.p_next {
  background-color: #ffc712;
  border-radius: 100%;
  height: 50px;
  width: 50px;
  position: absolute;
  top: 400px;
  right: 32.5%;
  transform: translateX(-50%);
  cursor: pointer;
  transition: all linear 0.3s;
}

.p_prev:hover {
  background-color: #fff;
  border: 1px solid black;
}

.p_next:hover {
  background-color: #fff;
  border: 1px solid black;
}

/* testimonial */

#test {
  background-color: #f5f5f5;
}

.test_text {
  width: 1300px;
  text-align: center;
  padding: 60px 0 80px 0;
  position: relative;
  margin: 0 auto;
}

.test_text h4 {
  font-size: 14px;
  color: #0f2f44;
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
}

.test_text h5 {
  font-size: 32px;
  color: #0f2f44;
  font-family: "Abril Fatface", cursive;
  font-weight: 400;
  text-transform: capitalize;
  margin-bottom: 23px;
}

.test_text .testimonial{
  margin-left: 20px;
  display: flex;
  column-gap: 30px;
  position: relative;
}
.test_text .testimonial .testi {
  border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
}

.test_text .testimonial .testi .testim {
  width: 570px;
  height: 217px;
  background-color: #e9e9e9;
  display: flex;
}

.test_text .testimonial .testi .testim .test_pic {
  width: 214px;
  height: 310px;
}

.test_text .testimonial .testi .testim .testi_text {
  text-align: left;
  padding-top: 30px;
  padding-left: 20px;
}

.test_text .testimonial .testi .testim .testi_text h4 {
  color: #222;
  font-size: 20px;
  font-weight: 600;
  font-family: "Ubuntu", sans-serif;
}

.test_text .testimonial .testi .testim .testi_text h6 {
  color: #222;
  font-size: 16px;
  font-weight: 300;
  font-family: "Ubuntu", sans-serif;
}

.test_text .testimonial .testi .testim .testi_text p {
  color: #444;
  font-size: 14px;
  font-weight: 300;
  font-family: "Open Sans", sans-serif;
  padding-bottom: 30px;
  width: 335px;
}

.t_next {
  background-color: #ffc712;
  border-radius: 100%;
  height: 50px;
  width: 50px;
  position: absolute;
  top: 220px;
  right: 1%;
  transform: translateX(-50%);
  cursor: pointer;
  transition: all linear 0.3s;
}

.t_prev {
  background-color: #ffc712;
  border-radius: 100%;
  height: 50px;
  width: 50px;
  position: absolute;
  top: 220px;
  left: 1%;
  transform: translateX(-50%);
  cursor: pointer;
  transition: all linear 0.3s;
}

.t_prev:hover {
  background-color: #fff;
}

.t_next:hover {
  background-color: #fff;
}


/* blog */

.blog_wrap {
  text-align: center;
  padding-top: 98px;
  padding-bottom: 98px;
  width: 1200px;
  position: relative;
  margin: 0 auto;
}

.blog_wrap h4 {
  font-size: 14px;
  color: #0f2f44;
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
}

.blog_wrap h5 {
  font-size: 32px;
  color: #0f2f44;
  font-family: "Abril Fatface", cursive;
  font-weight: 400;
  text-transform: capitalize;
  margin-bottom: 57px;
}
.blog_item {
  display: flex;
  justify-content: space-between;
  column-gap: 50px;
  margin-bottom: 60px;
}
.blog_item .blog_content .blog1 {
  border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
}

.blog_item .blog_content .blog1 {
  text-align: left;
  background-color: #f5f5f5;
  width: 349px;
  height: 477px;
  transition: all linear 0.3s;
}

.blog_item .blog_content .blog1 img {
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 30px;
}

.blog_item .blog_content .blog1 h3 {
  font-weight: 400;
  font-size: 14px;
  font-family: "Ubuntu", sans-serif;
  color: #777777;
  padding-bottom: 17px;
  padding-left: 20px;
  transition: all linear 0.3s;
}

.blog_item .blog_content .blog1 h4 {
  font-weight: 600;
  font-size: 20px;
  font-family: "Ubuntu", sans-serif;
  color: #222222;
  padding-bottom: 33px;
  padding-left: 20px;
  transition: all linear 0.3s;
}

.blog_item .blog_content .blog1 a {
  font-weight: 600;
  font-size: 16px;
  font-family: "Ubuntu", sans-serif;
  color: #777777;
  padding-left: 20px;
  transition: all linear 0.3s;
}

.blog_item .blog_content .blog1:hover {
  background-color: #0f2f44;
}

.blog_item .blog_content .blog1:hover a {
  color: #fff;
}

.blog_item .blog_content .blog1:hover h3 {
  color: #fff;
}

.blog_item .blog_content .blog1:hover h4 {
  color: #fff;
}

.browse {
  width: 135px;
  height: 47px;
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;

  padding: 16px 0;
  text-align: center;
  border: 1px solid #ffc712;
  background-color: #ffc712;
  color: #0f2f44;
  display: inline-block;

  border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
}

.b_prev {
  background-color: #ffc712;
  border-radius: 100%;
  height: 50px;
  width: 50px;
  position: absolute;
  top: 420px;
  left: 33%;
  transform: translateX(-50%);
  cursor: pointer;
  transition: all linear 0.3s;
}
.b_next {
  background-color: #ffc712;
  border-radius: 100%;
  height: 50px;
  width: 50px;
  position: absolute;
  top: 420px;
  right: 33%;
  transform: translateX(-50%);
  cursor: pointer;
  transition: all linear 0.3s;
}

.b_prev:hover {
  background-color: #fff;
}

.b_next:hover {
  background-color: #fff;
}

/* Footer */
#footer {
  background-color: #f5f5f5;
}
.foot_wrap {
  padding-top: 100px;
  padding-bottom: 60px;
  position: relative;
}

.foot_main {
  display: flex;
  justify-content: space-between;
  column-gap: 30px;
}

.foot_main .bizzency {
  width: 270px;
  height: 256px;
}

.foot_main .contact_us {
  width: 270px;
  height: 256px;
}

.foot_main .menu_links {
  width: 170px;
  height: 256px;
}

.foot_main .flicker_stream {
  width: 370px;
  height: 256px;
}

.foot_main .bizzency .logo {
  padding-top: 10px;
  padding-bottom: 20px;
}

.foot_main .bizzency p {
  font-size: 14px;
  color: #777;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  padding-bottom: 14px;
  text-align: left;
}

.foot_main .bizzency .social {
  display: flex;
  column-gap: 10px;
  text-align: center;
}

.foot_main .bizzency .social .border {
  width: 40px;
  height: 40px;
  padding-top: 10px;
  border-radius: 100%;
  border: 1px solid #0f2f44;
  transition: all linear 0.3s;
}

.foot_main .bizzency .social .border:hover {
  background-color: #0f2f44;
  color: #fff;
  cursor: pointer;
}

.foot_main .contact_us h2 {
  font-family: "Ubuntu", sans-serif;
  font-size: 20px;
  color: #222;
  font-weight: 500;
  padding-bottom: 6px;
  padding-top: 18px;
}

.foot_main .contact_us .contact_icon {
  display: flex;
  align-items: center;
  color: #777;
  column-gap: 15px;
  padding-bottom: 24px;
}

.foot_main .contact_us .contact_icon p {
  line-height: 24px;
}

.foot_main .menu_links h2 {
  font-family: "Ubuntu", sans-serif;
  font-size: 20px;
  color: #222;
  font-weight: 500;
  padding-top: 16px;
  padding-bottom: 6px;
}

.foot_main .menu_links ul li a {
  text-transform: capitalize;
  font-size: 14px;
  font-weight: 400;
  color: #444;
  font-family: "Open Sans", sans-serif;
}

.foot_main .menu_links ul li a:hover {
  color: #ffc712;
}

.foot_main .menu_links ul li {
  padding-bottom: 27px;
}

.foot_main .flicker_stream h3 {
  font-family: "Ubuntu", sans-serif;
  font-size: 20px;
  color: #222;
  font-weight: 500;
  padding-top: 18px;
  padding-bottom: 16px;
}

.foot_main .flicker_stream .s_pic .one img {
  width: 81px;
  height: 81px;
  object-fit: cover;
}

.foot_main .flicker_stream .s_pic {
  display: flex;
  flex-wrap: wrap;
  column-gap: 15px;
  row-gap: 15px;
  padding-top: 10px;
}

.up {
  background-color: #ffc712;
  border-radius: 100%;
  height: 70px;
  width: 70px;
  position: absolute;
  top: -35px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  transition: all linear 0.3s;
}

#copy_r {
  background-color: #fcfcfc;
}

.bottom {
  padding-top: 21px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  column-gap: 4px;
}
.bottom .h4 {
  color: #777;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 300;
}
.bottom .y {
  color: #ffc712;
}

.bottom .sl {
  padding-left: 5px;
  padding-right: 5px;
}

button {
  border: #ffc712;
}
